.thumbnail-card {
  margin-right: 10px;
  list-style-type: none;
}
.inactive-thumbnail {
  opacity: 0.5;
}
.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
